/* Styling the title text in the header */
.title {
    font-size: 42px;
    line-height: 52px;
    margin-block-end: 20px;
    margin-block-start: 0px;
    margin-bottom: 20px;
    text-align: center;
    text-size-adjust: 100%;
    padding-top: 80px;
    padding-bottom: 20px;
}

.cars {
    max-height: 144px;
    max-width: 258px;
}
p, h5, h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    padding: 15px;
}

.red-header {
    padding-bottom: 0px;
    background-color: red;
}

#autoLogo {
    max-width: 40vw;
    min-height: 30px;
    min-width: 300px;
}

.header {
    border-bottom: 1px solid rgb(88, 87, 87);
}

.quiz-body {
    background-color: rgb(181, 193, 218);
}

.quiz-questions {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.quiz-img {
    height: 125px;
    width: 125px;
}

.buttonDiv {
    margin: 0 auto;
    text-align: center;
}

.navbar {
    display: none; 
}

#timeDisplay {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;
    height: 60px;
    width: 225px;
    border-width: 3px;
    border-style: groove;
    border-color: rgb(229, 229, 252);
    background-color: rgb(181, 193, 218);
}

#display {
    font-size: 28pt;
    text-align: center;
    color: black;
    font-weight: bolder;
}